html, body {
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #fff9e6;
}
#main-page {
	padding: 1%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #997300;
}
#main-page * {
	padding: 5px;
	margin: 5px;
	border-radius: 25px;
}
#title-bar {
	text-align: center;
	font-size: 2em;
	background-color: #ffd24d;
	text-decoration: none;
	color: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#menu-bar {
	display: flex;
	justify-content: space-between;
	background-color: #ffd24d;
}
#menu-bar * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.element {
	width: 25%;
	text-align: center;
	background-color: #cc9900;
	text-decoration: none;
	color: black;
}
.element:hover {
	background-color: green;
}
.element:active {
	background-color: lightgreen;
}
.select {
	background-color: #ffc61a;
}
.select:hover {
	background-color: #ffc61a;
}
.select:active {
	background-color: lightcoral;
}
#content {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff3cc;
}